@model FIT5032_Project.Models.DoctorInfoModel

@{
    ViewBag.Title = "Doctors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main aria-labelledby="title">
    <h2>Our Doctors</h2>

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Rating)</th>

                @if (User.IsInRole("Patient"))
                {
                    <th>Booking</th>
                }
            </tr>
        </thead>
        <tbody>
                
            @foreach (var doctor in ViewBag.DoctorInfo)
            {
                <tr>
                    @*<td>
                            <img class="img-thumbnail" src="@Url.Content("~/Uploads/" + @doctor.Path)" />
                        </td>*@
                    <td>@doctor.Name</td>
                    <td>@doctor.Rating / 5</td>

                    @if (User.IsInRole("Patient"))
                    {
                        <td>
                            @Html.ActionLink("Book an Appointment", "Calendar", "Booking", new { doctorId = doctor.DoctorId }, new { @class = "btn btn-babi" })

                        </td>
                    }
                </tr>
            }
               
        </tbody>
    </table>


    @section Scripts {

        @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
        @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
        <script>
            $(document).ready(function () {
                $('.table').DataTable();
            });
        </script>
    }
    <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css"
          rel="stylesheet" />

    <style>
        .btn a {
            color: white;
            text-decoration: none;
        }
    </style>

</main>

