@model List<FIT5032_Project.Models.BookingModel>

@{
    ViewBag.Title = "Gagan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Select a Time</h2>

@using (Html.BeginForm("Gagan", "Booking", FormMethod.Post))
{
    @Html.AntiForgeryToken();

    <br />
    <input type="hidden" name="DoctorId" value="@ViewBag.DoctorId" />
    <input type="hidden" name="DoctorName" value="@ViewBag.userName" />
    <input type="hidden" name="BookingDate" value="@ViewBag.date" />
    @ViewBag.date

    <table class="table">
        <tr>
            <th>Time</th>
            <th>Availability</th>
        </tr>
        @for (var currentTime = TimeSpan.FromHours(9); currentTime < TimeSpan.FromHours(18); currentTime = currentTime.Add(TimeSpan.FromHours(1)))
        {
            <tr>
                <td>
                    <label>
                        @Html.RadioButton("BookingTime", currentTime, IsAvailable(currentTime), new { @class = "radio-button" })
                        @currentTime.ToString(@"hh\:mm")
                    </label>
                </td>
                <td>
                    @if (!IsAvailable(currentTime))
                    {
                        <span style="color: red;">Time Unavailable</span>
                    }
                </td>
            </tr>
        }
    </table>
    <br />

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Book Now</button>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@functions {
    bool IsAvailable(TimeSpan time)
    {
        // Check if the given time is in the list of taken bookings
        return !Model.Any(booking => booking.BookingTime == time);
    }
}
